RewriteEngine On

RewriteRule ^authorMailer$ authorMailer.php [L]

RewriteRule ^cover_design$ cover_design.php [L]
RewriteRule ^cover_and_production$ cover_and_production.php [L]
RewriteRule ^full_services$ full_services.php [L]
RewriteRule ^editorial_services$ full_services.php [L]
RewriteRule ^index_services$ full_services.php [L]
RewriteRule ^production___editorial__and_index$ production___editorial__and_index.php [L]
RewriteRule ^production__cover__and_editorial$ production__cover__and_editorial.php [L]
RewriteRule ^production__cover__and_index$ production__cover__and_index.php [L]
RewriteRule ^production_and_editorial$ production_and_editorial.php [L]
RewriteRule ^production_and_index$ production_and_index [L]
RewriteRule ^production_services$ production_services [L]

RewriteRule ^cover_designP$ cover_designP.php [L]
RewriteRule ^cover_and_productionP$ cover_and_productionP.php [L]
RewriteRule ^full_servicesP$ full_servicesP.php [L]
RewriteRule ^editorial_servicesP$ full_servicesP.php [L]
RewriteRule ^index_servicesP$ full_servicesP.php [L]
RewriteRule ^production___editorial__and_indexP$ production___editorial__and_indexP.php [L]
RewriteRule ^production__cover__and_editorialP$ production__cover__and_editorialP.php [L]
RewriteRule ^production__cover__and_indexP$ production__cover__and_indexP.php [L]
RewriteRule ^production_and_editorialP$ production_and_editorialP.php [L]
RewriteRule ^production_and_indexP$ production_and_indexP [L]
RewriteRule ^production_servicesP$ production_servicesP [L]


